.button {
  color: #0a0a0a;
  text-decoration: none;
  display: block;
  border: 2px solid $color-black-primary;
  padding: 15px 30px;
  background: $color-white-primary;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  outline: none;

  &:visited {
    color: inherit;
  }

  &:hover {
    // border-radius: 50%;
    // background: $color-black-primary;
    // background: $color-blue-primary
    // color: $color-white-primary;

    border-style: dashed;
    // background: #f9f9f9;
    // color: #666;
    // font-size: 15;
    // text-transform: lowercase;
  }
}

.button-white {
  @extend .button;
  color: $color-white-primary;
  border-color: $color-white-primary;

  &:hover {
    background: $color-white-primary;
    color: $color-black-primary;
  }
}
