.input-group {
  position: relative;
  margin: 60px 0;
}

.input-label {
  position: absolute;
  left: 10px;
  top: 15px;
  z-index: 10;
  transition: all 0.1s ease-in-out;

  &.toggle {
    top: -30px;
    left: 0;
    font-size: 20px;
    color: $color-black-primary;
  }
}

.input-text,
.input-textarea {
  display: block;
  width: 100%;
  border: 2px solid $color-black-primary;
  border-radius: 3px;
  color: $color-black-primary;
  outline: none;

  &.error {
    color: $color-error;
    border-color: $color-error;
  }
}

.input-text {
  height: 50px;
  padding: 0 10px;
}

.input-textarea {
  resize: none;
  height: 150px;

  padding: 10px;
}
