.project-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;

  a {
    text-decoration: none;
  }
}

.project {
  padding: 30px;
  border: 2px solid $color-white-secondary;
  border-radius: 3px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $color-black-primary;

  &-title,
  &-description {
    margin: 0 0 15px;
    text-align: center;
  }

  &-description {
    font-size: 16px;
    color: $color-black-secondary;
    margin-bottom: 30px;
  }

  &-button {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .project:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 600px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .project-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
