.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

.project {
  padding: 30px;
  border: 2px solid $color-white-secondary;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $color-black-primary;

  &-title,
  &-description {
    margin: 0 0 15px;
    text-align: center;
  }

  &-description {
    font-size: 16px;
    color: $color-black-secondary;
    margin-bottom: 30px;
  }

  &-button {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}

@media (min-width: 600px) {
  .project {
    width: calc((100% - 30px) / 2);

    &:not(:nth-child(2n-1)) {
      margin-left: 30px;
    }
  }
}

@media (min-width: 900px) {
  .project {
    width: calc((100% - 60px) / 3);

    &:not(:nth-child(2n-1)) {
      margin-left: 0;
    }

    &:not(:nth-child(3n-2)) {
      margin-left: 30px;
    }
  }
}
