.skills {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;

  &-column {
    border: 2px solid $color-white-secondary;
    padding: 30px;
    border-radius: 3px;
    width: 100%;
    margin: 0 auto 30px;

    display: flex;
    flex-direction: column;
  }

  &-title {
    margin: 0;
    text-align: center;
    margin-top: 30px;
  }

  &-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }

  &-icon {
    font-size: 80px;
    margin: 0 auto;
    display: block;
    color: $color-black-primary;
  }

  &-list {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-list-item {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    font-size: 18px;

    &::before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      background: $color-blue-primary;
      border-radius: 25%;
      margin-right: 15px;
    }
  }
}

@media (min-width: 600px) {
  .skills {
    &-column {
      flex-direction: row;
      justify-content: space-between;
      width: 480px;
    }

    &-top {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
}

@media (min-width: 1000px) {
  .skills {
    flex-wrap: nowrap;

    &-column {
      flex-direction: column;
      justify-content: flex-start;

      margin-left: 0;
      margin-right: 0;

      &:not(:first-child) {
        margin-left: 15px;
      }

      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    &-top {
      margin-bottom: 30px;
      margin-right: 0;
    }
  }
}
