$color-blue-primary: hsl(192.5, 46.1%, 32.5%);
$color-blue-secondary: hsl(192.5, 46.1%, 42.5%);

$color-black-primary: #333;
$color-black-secondary: #666;

$color-white-primary: #fff;
$color-white-secondary: #eee;
