// @import url("https://fonts.googleapis.com/css?family=Montserrat:300&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Quicksand|Roboto+Mono|Rubik|Source+Code+Pro&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Domine&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap");

html {
  // font-family: sans-serif;
  // font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
  color: $color-black-primary;
}

body {
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 30px 0;
  font-weight: normal;
}

h1,
h2 {
  position: relative;
  display: inline-block;
  margin: 0 0 30px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 5px;
    left: -30px;
    width: calc(100% + 60px);
    z-index: -1;
  }
}

h1 {
  font-size: 56px;

  &::after {
    height: 20px;
    background: $color-blue-primary;
  }
}

h2 {
  font-size: 48px;

  &::after {
    height: 15px;
    background: $color-blue-secondary;
  }
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 32px;
}

p {
  margin: 30px 0;
  font-size: 26px;
}

b,
strong {
  font-weight: bold;
}

@media (min-width: 600px) {
  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 56px;
  }
}
