.contact-links {
  margin: 60px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-bottom: -30px;
}

.contact-link {
  margin-left: 30px;
  margin-bottom: 30px;
  color: $color-black-primary;
  text-decoration: none;
  text-align: center;

  &:hover {
    color: $color-black-secondary;
  }

  &-label {
    font-size: 24px;
    margin-top: 15px;
  }

  &-icon {
    font-size: 64px;
  }
}

@media (min-width: 400px) {
  .contact-links {
    justify-content: flex-start;
  }
}
