/* work-sans-regular - latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/files/work-sans-v5-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Work Sans"), local("WorkSans-Regular"),
    url("./fonts/files/work-sans-v5-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/files/work-sans-v5-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/files/work-sans-v5-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/files/work-sans-v5-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/files/work-sans-v5-latin-regular.svg#WorkSans") format("svg"); /* Legacy iOS */
}
/* work-sans-500 - latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/files/work-sans-v5-latin-500.eot"); /* IE9 Compat Modes */
  src: local("Work Sans Medium"), local("WorkSans-Medium"),
    url("./fonts/files/work-sans-v5-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/files/work-sans-v5-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./fonts/files/work-sans-v5-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/files/work-sans-v5-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/files/work-sans-v5-latin-500.svg#WorkSans") format("svg"); /* Legacy iOS */
}
/* work-sans-700 - latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/files/work-sans-v5-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Work Sans Bold"), local("WorkSans-Bold"),
    url("./fonts/files/work-sans-v5-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/files/work-sans-v5-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./fonts/files/work-sans-v5-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/files/work-sans-v5-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/files/work-sans-v5-latin-700.svg#WorkSans") format("svg"); /* Legacy iOS */
}
